.section-container {
  width: var(--default-layout-width);
  margin: 0 auto;;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .section-title {
    font-size: 32px;
    font-weight: 600;
  }
  .section-post {
    width: 250px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black01);
    padding: 10px;
    border-radius: 10px;
    
    .post-img {
      width: 200px;
      height: 150px;
      border-radius: 5px;
      border: 5px solid var(--primary);
      margin: 0 auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(https://cdn.bookingcare.vn/fr/w300/2019/12/13/120331-co-xuong-khop.jpg);
    }
    .post-details {
      width: 100%;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      padding-top: 5px;
    }
  }
}