.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black01);
  .login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-width: 350px;
    background-color: var(--white);
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--black02);
  }
  .fa-circle-xmark {
    position: absolute;
    top: -2%;
    right: -2%;
    font-size: 40px;
    z-index: 100;
    color: var(--secondary);
    cursor: pointer;
    border-radius: 50%;
    &:hover {
      box-shadow: 0px 0px 10px var(--black05);
    }
  }
  .login-form--top,
  .login-form--bottom {
    .error-message {
      font-size: 12px;
      font-weight: 500;
      color: red;
      width: 100%;
      height: 20px;
      text-align: center;
    }
    h4 {
      opacity: 0.7;
    }
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
  }
  h2 {
    width: 100%;
    text-align: center;
  }
  .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    label {
      font-size: 12px;
      font-weight: 600;
      opacity: 0.7;
    }
    input {
      border: 1px solid var(--black02);
      padding: 10px;
      border-radius: 10px;
      &:focus {
        border: 1px solid var(--black02);
        background-color: var(--black01);
      }
    }
    .password-input-field {
      width: 100%;
      display: flex;
      align-items: center;
      input {
        flex-grow: 1;
      }
      span {
        width: 20px;
        height: 20px;
      }
      .fa-solid {
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
  .form-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .forgot-password-link {
    width: 100%;
    text-align: right;
    font-size: 12px;
    font-weight: 700;
    opacity: 0.7;
  }
  .forgot-password-link:hover {
    cursor: pointer;
    opacity: 1;
  }
  .icons-group {
    display: flex;
    gap: 20px;
    font-size: 36px;
    color: var(--primary);
    i {
      cursor: pointer;
      border-radius: 50%;
      &:hover {
        box-shadow: 2px 2px 5px var(--black02);
      }
    }
  }
}
