.page-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  .header {
    width: var(--default-layout-width);
  }

  .header-bottom {
    height: 70px;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    width: 160px;
    height: 35px;
    background-image: url(../../assets/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .tags {
    display: flex;
    height: 100%;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    gap: 40px;
    .title {
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
      opacity: 0.7;
    }
    .des {
      font-size: 14px;
    }
  }
  .support-group {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .support {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      width: 100%;
      text-align: right;
    }
    .phone {
      font-size: 14px;
      width: 100%;
      text-align: right;
      color: blue;
    }
  }
}
.home-section {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.footer {
  width: 100%;
  text-align: center;
  padding: 5px 0;
}
