$color: #0d5a2c;
$color2: #3DA165;
$size: 12px;
$time: 2;

main {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background:  #090707;
}

.dank-ass-loader {
   display: flex;
   flex-direction: column;
   align-items: center;
   
   .row {
      display: flex;
   }
}

.arrow {
   width: 0; 
   height: 0;
   margin: 0 (-$size / 2);
   border-left: $size solid transparent;
   border-right: $size solid transparent;
   border-bottom: ($size * 1.8) solid $color;
  //  animation: blink $time + s infinite;
   filter: drop-shadow(0 0 ($size * 1.5) $color);
    
   &.down {
      transform: rotate(180deg);
      // opacity: 0.7;
   }
   
   @for $i from 1 through 23 {
      &.outer-#{$i} {
         animation-delay: -($time / 23) * $i + s;
         border-bottom: ($size * 1.8) solid $color2;
      }  
   }

//    @for $i from 1 through 6 {
//       &.inner-#{$i} {
//          animation-delay: -($time / 6) * $i + s;
//       }  
//    }  
@for $i from 1 through 35 {
        &.outer-#{$i} {
          animation: blink $time + s infinite;
           animation-delay: ($time / 35) * $i + s;
        }  
     }  
}

@keyframes blink {
  0% { 
    opacity: 0.1; 
  }
  30% { 
    opacity: 1; 
  }
  100% { 
    opacity: 0.1; 
  }
}