.clinic-detail-page {
  max-width: var(--default-layout-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  .clinic-detail {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    background-position: center;
    background-size: cover;
    padding: 2% 5%;
    .filter {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: var(--white01);
      z-index: 1;
      backdrop-filter: blur(5px);
    }
    .img {
      width: 200px;
      height: 200px;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      border: 5px solid var(--primary);
      z-index: 2;
    }
    .details {
      z-index: 2;
      height: 100%;
      color: white;
      text-shadow: 1px 1px 2px var(--black);
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;
      line-height: 30px;
    }
    .name {
      gap: 3px;
      font-size: 48px;
      font-weight: 600;
    }
    .address {
    }
  }
  .markdown {
    padding: 20px 0;
    div {
      line-height: 40px;
    }
  }
  .doctors {
    display: flex;
    flex-direction: column;
    width: var(--default-layout-width);
    gap: 10px;
  }
  .doctor {
    width: 100%;
    background-color: var(--black005);
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    border: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    &:hover {
      border: 2px solid var(--primary);
      box-shadow: 0 0 20px var(--black02);
    }
    .image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      border: 4px solid var(--primary);
    }
    .doctor-details {
      display: flex;
      flex-direction: column;
      width: calc(100% - 150px - 50%);
      .name {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 20px;
        .role {
          font-size: 14px;
          font-weight: 700;
          opacity: 0.7;
        }
      }
      .position {
        font-size: 16px;
        font-weight: 700;
        opacity: 0.7;
        text-transform: uppercase;
      }
      .description {
        width: 100%;
        font-size: 14px;
      }
    }
    .booking-details {
      width: 50%;
      display: flex;
      flex-direction: column;
      .detail-item {
        display: flex;
        align-items: flex-start;
        .label {
          width: 80px;
          font-weight: 600;
          opacity: 0.7;
        }
        .value {
          width: calc(100% - 80px);
        }
      }
    }
  }
}
