.BookingDoctorPage {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white01);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  .appointment {
    position: relative;
    min-width: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--grey);
    border-radius: 10px;
    padding: 1% 0;
    .fa-circle-xmark {
      position: absolute;
      right: -3%;
      top: -3%;
      font-size: 40px;
      cursor: pointer;
      &:hover {
        color: var(--primary);
      }
    }
    .container-title {
      font-size: 32px;
      font-weight: 600;
      width: 100%;
      text-align: center;
    }
    .doctor-details {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: var(--black005);
      padding: 2%;
      gap: 2%;
      .img {
        width: 150px;
        height: 150px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        border: 5px solid var(--primary);
      }
      .detail {
        width: calc(100% - 150px);
        display: flex;
        flex-direction: column;
        gap: 20px;
        .doctor-name {
          display: flex;
          gap: 5px;
          align-items: center;
        }
        .name {
          display: flex;
          gap: 3px;
          font-size: 24px;
          font-weight: 600;
        }
        .role {
          font-size: 20px;
          opacity: 0.7;
        }
        .clinic-name {
          font-size: 20px;
        }
        .item {
          display: flex;
          width: 100%;
          border-bottom: 1px solid var(--black02);
          .title {
            width: 200px;
            font-size: 16px;
            font-weight: 600;
            opacity: 0.7;
          }
          &:last-child {
            border: none;
          }
        }
      }
    }
    .booking-details {
      padding: 2%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .section-title {
        font-size: 24px;
        font-weight: 600;
        opacity: 0.7;
      }
      .section-item {
        border-bottom: 1px solid var(--black02);
        padding: 2% 0;
        .top {
          display: flex;
          width: 100%;
          justify-content: space-between;
          .selected {
            font-size: 20px;
            font-size: 600;
            padding-left: 10px;
            padding-bottom: 10px;
          }
          .change {
            opacity: 0.5;
            font-weight: 600;
            cursor: pointer;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    .patient-details {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 1% 2%;
      .section-title {
        font-size: 24px;
        font-weight: 600;
        width: 100%;
      }
      .form-item {
        width: 100%;
        display: flex;
        label {
          font-size: 16px;
          width: 25%;
        }
        input {
          width: 75%;
          border: none;
          outline: none;
          background-color: var(--white05);
          padding: 5px 10px;
          border-radius: 50px;
          &:focus {
            background-color: white;
          }
        }
      }
      .submit-btn {
        width: 50%;
        background-color: var(--primary05);
        color: white;
        font-size: 24px;
        padding: 10px 0;
        font-weight: 600;
        border-radius: 50px;
        &:hover {
          background-color: var(--primary);
        }
      }
    }
  }
}
