.specialty-details {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  .specialty-img {
    max-width: var(--default-layout-width);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .white-filter {
      width: 100%;
      height: 250px;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      backdrop-filter: blur(1px);
      &.rotated {
        transform: scaleY(-1);
      }
    }
    .specialty-name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      font-size: 64px;
      font-weight: 600;
      color: white;
      text-align: center;
      text-shadow: 0 0 10px var(--black05);
    }
  }
  .description {
    max-width: var(--default-layout-width);
    padding: 20px 0;
  }

}
