@import 'normalize.css';

:root {
  --primary: rgb(73, 188, 226);
  --primary05: rgba(73, 188, 226, 0.5);
  --secondary: rgb(167, 167, 167);
  --black: #000;
  --black005: rgba(0, 0, 0, 0.05);
  --black01: rgba(0, 0, 0, 0.1);
  --black02: rgba(0, 0, 0, 0.2);
  --black03: rgba(0, 0, 0, 0.3);
  --black05: rgba(0, 0, 0, 0.5);
  --white: #fff;
  --white01: rgba(255, 255, 255, 0.1);
  --white02: rgba(255, 255, 255, 0.2);
  --white03: rgba(255, 255, 255, 0.3);
  --white05: rgba(255, 255, 255, 0.5);
  --text-color: #4d4d4d;

  --font-family: 'Lato', sans-serif;

  // Default layout
  --default-layout-width: 1150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-color);
  overflow-y: overlay;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

// Custom tippy tooltip
body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
  }

  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }

  .tippy-content {
    padding: 8px 9px;
  }

  .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
  }
  button {
    cursor: pointer;
    &:hover {
      box-shadow: 2px 2px 10px var(--black05);
      border-radius: 50px;
    }
  }
}

.primary-btn {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary);
  border: 1px solid var(--primary);
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 50px;
  &:hover {
    background-color: var(--primary);
    color: var(--white);
    box-shadow: 2px 2px 10px var(--black05);
  }
}
.secondary-btn {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 50px;
  &:hover {
    background-color: var(--secondary);
    color: var(--white);
    box-shadow: 2px 2px 10px var(--black05);
  }
}
.divider {
  width: 100%;
  height: 1px;
  background-color: var(--black02);
}
.language-options {
  height: 30px;
  width: 100%;
  display: flex;
  .language {
    width: 50%;
    text-align: center;
    padding-right: 10px;
    opacity: 0.5;
    font-weight: 800;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    &.active {
      opacity: 1;
      background-color: var(--primary05);
      color: white;
    }
  }
  .vi-icon {
    width: 25px;
    height: 15px;
    background-image: url(../assets/VN.png);
    background-size: contain;
    background-position: center;
  }
  .en-icon {
    width: 25px;
    height: 15px;
    background-image: url(../assets/UK.png);
    background-size: contain;
    background-position: center;
  }
}
