.doctor-detail-page {
  position: relative;
  max-width: var(--default-layout-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  .doctor-user {
    width: 100%;
    height: 100%;
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2%;
    background-color: var(--black005);
    padding: 2%;
    .img {
      width: 200px;
      height: 200px;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      border: 5px solid var(--primary);
    }
    .user-details {
      max-width: calc(100% - 2% - 200px);
      min-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      line-height: 30px;
    }
    .doctor-name {
      display: flex;
      gap: 5px;
      align-items: center;
    }
    .name {
      display: flex;
      gap: 3px;
      font-size: 24px;
      font-weight: 600;
    }
    .role {
      font-size: 20px;
      opacity: 0.7;
    }
  }
  .payment-details {
    max-width: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 2% 0;
    border-top: 2px solid var(--black01);
    border-bottom: 2px solid var(--black01);
    .container-title {
      font-size: 20px;
      color: var(--black05);
      font-weight: 700;
    }
    .left {
      width: 50%;
      min-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 0 auto;
    }
    .right {
      width: 40%;
      min-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 30px;
      margin: 0 auto;
    }
    .right-item {
      display: flex;
      flex-direction: column;
      .title {
        font-size: 16px;
        font-weight: 600;
        opacity: 0.7;
      }
      .clinic-name {
        font-weight: 600;
      }
      .inline-des {
        font-size: 16px;
        font-weight: 600;
        color: rgba(43, 43, 43, 0.7);
        span {
          color: #333;
          padding-left: 10px;
          font-size: 20px;
        }
      }
    }
  }
  .markdown {
    padding: 20px 0;
    div {
      line-height: 40px;
    }
  }
}
